#home {
	color: white;
}

.caixa {
	padding: 60px 0;
	border-bottom: 1px solid #e5e5e5;
}

footer p a {
	margin: 5px 15px;
}

#fonte{
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}

#bloco-titulo{

	font-family: Roboto, sans-serif;
	padding-top: 130px;
	/* padding-bottom: 330px; */
}

.box{
	text-align: center;
    padding: 35px;
    background-color: #fff;
    margin-bottom: 30px;
}


.icones{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}

.icones a{
	margin: 10px;
}


.about-section{
	padding-top: 0rem !important;
}

.about-section p {
    margin-bottom: 1rem;
}


.rounded-pill {
	display: inline-block;
	padding: 16px 32px;
	font-size: 16px;
	text-align: center;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	animation: scaling 0.8s infinite alternate;
	background-color:#f05f40 ;
  }

  
  
  @keyframes scaling {
	0% {
	  transform: scale(0.9);
	}
	100% {
	  transform: scale(1);
	}
  }

  .projects-section .featured-text {
    padding: 0 0 0 2rem;
    border-left: 0.5rem solid white;
}


.feature {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
}


/* .bg-gradient-primary-to-secondary {
    background: #1e30f3;
    background: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%);
}

.text-gradient {
    background: -webkit-linear-gradient(315deg, #1e30f3 0%, #e21e80 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

.letra22px{
	font-size: 22px;
}