#home {
	color: white;
	
}

.caixa {
	padding: 60px 0;
	border-bottom: 1px solid #e5e5e5;
}

footer p a {
	margin: 5px 15px;
}

.nav-link{
	color: white !important;
	font-weight: bold;
	opacity: 0.9;
    transition: 0.3s;
}

.nav-link:hover{
	color: #f4dc0f !important;
	opacity: 1;
}

.btn-primary { 
    background-color: #f05f40;
    border-color: #f05f40;
    color: #fff;
	padding: 1em 2em;
}

#nav-brand{
	font-size: 1.75em;
    transition: all .3s;
	color: #fed136;
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
	
}

#fonte{
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}

#bloco-titulo{

	font-family: Roboto, sans-serif;
	padding-top: 130px;
	/* padding-bottom: 330px; */
}

.box{
	text-align: center;
    padding: 35px;
    background-color: #fff;
    margin-bottom: 30px;
}


.icones{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}

.icones a{
	margin: 10px;
}

